@model List<ResultCommentDto>
<div class="tab-pane fade" id="tab-pane-3">
    <div class="row">
        <div class="col-md-6">

            <h4 class="mb-4">@Model.Count review for "Product Name"</h4>
            @foreach (var item in Model)
            {
                <div class="media mb-4">
                    <img src="@item.ImageUri" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                    <div class="media-body">
                        <h6>@item.NameSurname<small> - <i>@item.CreatedAt.ToShortDateString()</i></small></h6>
                        <div class="text-primary mb-2">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= item.Rate)
                                {
                                    <i class="fas fa-star mr-1"></i>
                                }
                                else
                                {
                                    <i class="far fa-star mr-1"></i>
                                }
                            }
                        </div>
                        <p>@item.Comment</p>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h4 class="mb-4">Leave a review</h4>
            <small>Your email address will not be published. Required fields are marked *</small>
            
            <form asp-controller="ProductList" asp-action="AddComment" method="post">
                <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />

                <div class="form-group">
                    <label for="message">Your Review *</label>
                    <textarea id="message" name="Comment" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="name">Your Names *</label>
                    <input type="text" class="form-control" id="name" name="NameSurname">
                </div>
                <div class="form-group">
                    <label for="email">Your Email *</label>
                    <input type="email" class="form-control" id="email" name="Email">
                </div>
                <div class="form-group">
                    <label for="rating">Your Rating *</label>
                    <input type="number" class="form-control" id="rating" name="Rate" min="1" max="5">
                </div>

                <div class="form-group mb-0">
                    <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                </div>
            </form>

        </div>
    </div>
</div>
